<main>
    <h2 id="selected-category">
        <!-- Dynamically update the selected category title -->
        {{data.category}}
    </h2>
    <div id="category-products">
        <!-- Dynamically load product cards on the page -->
        {{#with data}}
        {{#each products}}
        {{#unless discontinued}}
        <div class="card">
            <img src={{imageURL}} alt={{title}}+"Image" class="cardImage">
            <div class="lowerCard">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <span>
                    {{#priceFormat}}
                    {{price}}
                    {{/priceFormat}}
                </span>
            </div>
        </div>
        {{/unless}}
        {{/each}}
        {{/with}}
    </div>
</main>